body{
background-color: rgb(161, 212, 194);}
.header1{
background-color: white;
}
.header{
background-color: rgb(183, 183, 235);
height: 5px;padding: 20px;
}
.nav{
background-color: white;
height:100px;
}
.sechion{
background-color: white;
height: 380px;

}
table, th, td { border: 1px solid black;  border-collapse: collapse;}
.table1{background-color: rgb(189, 139, 79); 
}
td,th{width: 40%; }
.header1{color: #150c8d;}
.header0{background-color: white;}
.header2{background-color: white; height: 1300px;}

.header2 {padding: 20px; }
.text{ background-color: white; height: 420px;}
.text{}
h2,h3,h4{margin-left : 20px ; }
form{margin-left : 20px ; }
p{margin-left : 20px  ;}
table{margin-left : 20px ;}
#direction{margin-left : 20px  ;}
label{margin-left : 20px  ;}
.message{margin-left : 20px  ;}
.submit{background-color: rgb(216, 48, 62)}
.reset {background-color: rgb(216, 48, 62)}
.submit{margin-left : 20px ;}
.reset{margin-left : 20px ;}
.сontakt1{background-color: white; height: 137px;
}
.сontakt{color: #150c8d;}
.vault{background-color: rgb(49, 49, 172); height: 40px; ;}
.vault1{color: white;}
.vault1{ text-align: center;padding: 10px; }
.Tel2{color: blue;}
.Tel3{color: blue;}

